---
import Layout from '../layouts/Layout.astro';
import Carousel from '../components/Carousel.jsx';
---

<Layout title="Welcome to Astro.">
	<head>
		<link href="/react-carousel.css" rel="stylesheet">
		<link href="https://use.typekit.net/nju6qgt.css" rel="stylesheet">
	</head>
	<main>
		<div class="cara">
			<Carousel client:load />
		</div>
	</main>
</Layout>

<style>
	main {
		margin: auto;
	}

	.cara {
		zoom : 0.8;
	}

	.cara-book-cont-cont {
		display : flex;
	}
</sty>
