---

---

<main>
  <a href="/">
    <div class="onebookaday">
      onebookaweek
    </div>
  </a>
  <div class="links">
    <a>
      <h2 class="link">the challenge</h2>
    </a>
    <a>
      <h2 class="link">blog</h2>
    </a>
    <a>
      <h2 class="link">archives</h2>
    </a>
  </div>

</main>

<style>
  main {
    margin-top: 0px;
  }

  .links {
    position: absolute;
    display: flex;
    align-items: center;
    margin-left: 270px;
    margin-top: 15px;
  }

  .onebookaday {
    position: absolute;
    margin-left: 10px;
    font-size: 45px;
    font-family: var(--logo-font);
    font-palette: --1;
    cursor: pointer;
  }

  .link {
    font-size: 25px;
    margin-top: 0px;
    margin-left: 170px;
    font-family: var(--logo-font);
    font-palette: --0;
    cursor: pointer;
  }
</style>
